services:
  gradio_crud:
    #image: gradio_crud-gradio_crud:snapshot
    image: gradio_crud-gradio_crud:latest
    build:
       context: .  # Path relative to docker-compose.yml
       dockerfile: Dockerfile
    container_name: gradio_crud_ui
    restart: unless-stopped
    networks:
      - backend_net
      - external_net
    ports:
      - "7860:7860"
    environment:
      - APISIX_URL=${APISIX_URL}
      - WEB_BASE_URL=${WEB_BASE_URL}
      
networks:
  # internal network
  backend_net:
    external: true
  external_net:
    external: true
