# version: "3.9"
services:
  web:
    container_name: gradio_web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7861:7860"
    environment:
      GRADIO_SERVER_NAME: 0.0.0.0
      # - APISIX_URL=http://172.17.0.1:9080
      APISIX_URL: ${APISIX_URL}
      WEB_BASE_URL: ${WEB_BASE_URL}
      WEB_LANG: ${WEB_LANG}
      FEDERATION_URL: ${FEDERATION_URL}
      USERNAME_MIN_LENGTH: ${USERNAME_MIN_LENGTH}
      USERNAME_MAX_LENGTH: ${USERNAME_MAX_LENGTH}
      PASSWORD_MIN_LENGTH: ${PASSWORD_MIN_LENGTH}
      PASSWORD_MAX_LENGTH: ${PASSWORD_MAX_LENGTH}
      GUEST_NLP_TIMEOUT: ${GUEST_NLP_TIMEOUT}
      NLP_TIMEOUT: ${NLP_TIMEOUT} 
    volumes:
      # - .:/usr/src/app  # Uncomment for development live-reload
      - ./httpx_config.py:/usr/local/lib/python3.10/site-packages/httpx/_config.py
    restart: unless-stopped
    networks:
      - external_net

networks:
  external_net:
    external: true
